/* sc-component-id: NavItem__NavItemTag-WlkfK */
.NavItem__NavItemTag-WlkfK {
}

.mswtO {
    display: inline-block;
}

/* sc-component-id: NavItem__NavLink-cmXUoM */
.NavItem__NavLink-cmXUoM {
}

.czYmzE {
    display: block;
    padding: .5rem 1rem;
    padding: 0;
    margin: 10px 16px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0);
}

.czYmzE:hover {
    border-bottom: 1px dotted #ccc;
}

/* sc-component-id: Header__Logo-egROsK */
.Header__Logo-egROsK {
}

.iQOXLR {
    height: 200px;
}

/* sc-component-id: Header__Navbar-ddQBAa */
.Header__Navbar-ddQBAa {
}

.jBMKAI {
    text-align: center;
    margin-top: 50px;
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    font-weight: 500;
}

/* sc-component-id: Footer__FooterTag-PxvBM */
.Footer__FooterTag-PxvBM {
}

.gJCZSq {
    border-top: 1px solid #eee;
    margin-top: 30px;
    text-align: center;
    line-height: 55px;
}

/* sc-component-id: Footer__CopyRight-fNULWI */
.Footer__CopyRight-fNULWI {
}

.egIYfH {
    color: #333;
}

/* sc-component-id: Footer__SourceLink-dlJFqE */
.Footer__SourceLink-dlJFqE {
}

color:#cc3300b3 .igCDIp:hover {
    color: #cc3300 !important;
}

/* sc-component-id: Slider__SearchInput-gixZgp */
.Slider__SearchInput-gixZgp {
}

.eaoHIE {
    padding: 0.9em;
    width: 262px;
    max-width: 100%;
    font-size: .9em;
    color: #444;
    border: 1px solid #ddd;
    background: #fff;
    cursor: not-allowed;
}

/* sc-component-id: Slider__Label-dnqtwU */
.Slider__Label-dnqtwU {
}

.eGGANu {
    display: block;
    font-weight: 500;
    color: #444;
    margin-bottom: .5rem;
}

/* sc-component-id: Slider__UlInSlider-fWIRHp */
.Slider__UlInSlider-fWIRHp {
}

.kgDtkr {
    padding: 0;
}

/* sc-component-id: Slider__LiInSlider-klJhWK */
.Slider__LiInSlider-klJhWK {
}

.icZCrl {
    list-style: none;
    position: relative;
    padding-right: 30px;
    margin-bottom: .4em;
    line-height: 1.4;
}

.icZCrl::before {
    content: '';
    height: 22px;
    background-repeat: no-repeat;
    background-position: 0px 5px;
    position: absolute;
    right: 0px;
    font-size: 10px;
    width: 22px;
    color: #666;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfiBw8OEBAg8PNQAAAA0klEQVQoz33PMUoDcRDF4U8XliCoWBgDgmCwjRJFEJJcI6VYWAjmDGltvIBplNWIEEnhFWystbOP1ipYBASLLHH3v5jXzAy/92aYyESxvtiLfxS71HQ1C+9iaGUWZsPAVtFwpzHtFyVaeRwZO9H25ANjDzrKni3Zt+nH5xxY1nPsKw2dahh59a2eHkdVIgqOl1yr/Y0t5wG+sZ1PHOlkcN9O8aPbDK5P2vnc0re09ix4L+b3dFGSqFk1UAkNB85SDGX3oWXdxRTDmmFoecz+jYrDX6NoKD9TS3YtAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE4LTA3LTE1VDE0OjE2OjE2KzAyOjAw4K49mQAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOC0wNy0xNVQxNDoxNjoxNiswMjowMJHzhSUAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC);
}

.icZCrl a:hover {
    background-color: #f7f7f7;
    border-bottom: 1px dotted #aaa;
}

.dkhBax {
    list-style: none;
    position: relative;
    padding-right: 30px;
    margin-bottom: .4em;
    line-height: 1.4;
}

.dkhBax::before {
    content: '';
    height: 22px;
    background-repeat: no-repeat;
    background-position: 0px 5px;
    position: absolute;
    right: 0px;
    font-size: 10px;
    width: 22px;
    color: #666;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAZlBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABwbJTWAAAAInRSTlMAenx4gV57TkgDUIoxAQVqUxJtVTgES2sMmYIhM2YkEBUa4aAbMQAAAE9JREFUeJxjYMACGJmYIYCFFSLABpdih1DMcAEOugtwoglwcfPwIgnw8QsICgnzwQUEmUQYGETFxCWgApJS0iCKV4ZZFiIgJw+1REGRgQEAuYkC5rmis3AAAAAASUVORK5CYII=);
}

.dkhBax a:hover {
    background-color: #f7f7f7;
    border-bottom: 1px dotted #aaa;
}

/* sc-component-id: Slider__FollowMeContainer-gYAqJS */
.Slider__FollowMeContainer-gYAqJS {
}

.pMFQa {
    display: inline-block;
    margin: 0 5px;
}

.pMFQa svg {
    width: 35px;
    height: 35px;
    color: red;
    padding: 5px;
    border: 1px solid #ddd;
}

/* sc-component-id: Slider__FollowMeContainer_Insta-hoCeXG */
.Slider__FollowMeContainer_Insta-hoCeXG {
}

.gTHcwu svg:hover {
    background-color: #E42B55;
}

/* sc-component-id: Slider__FollowMeContainer_Youtube-DkLPe */
.Slider__FollowMeContainer_Youtube-DkLPe {
}

.edRMkP svg:hover {
    background-color: #FF001B;
}

/* sc-component-id: Slider__FollowMeContainer_Linkedin-dTLiEw */
.Slider__FollowMeContainer_Linkedin-dTLiEw {
}

.rMfzF svg:hover {
    background-color: #0077B5;
}

/* sc-component-id: Slider__FollowMeContainer_Twitter-hwybDz */
.Slider__FollowMeContainer_Twitter-hwybDz {
}

.fPjbol svg:hover {
    background-color: #1DA1F2;
}

/* sc-component-id: Slider__FollowMeContainer_Gitlab-hZSIcR */
.Slider__FollowMeContainer_Gitlab-hZSIcR {
}

.kxouFS svg:hover {
    background-color: #E24329;
}

/* sc-component-id: Slider__Container-eXOnhz */
.Slider__Container-eXOnhz {
}

.LeYOx {
    margin: 70px 10px 10px 10px;
}

/* sc-component-id: sc-global-160062995 */
@font-face {
    font-family: IRANSans;
    font-style: normal;font-('http://localhost:8000/static/IRANSansWeb_Bold-a65cbf91ec2b253357f7621900ef29a4.eot');
    src: url('http://localhost:8000/static/IRANSansWeb_Bold-a65cbf91ec2b253357f7621900ef29a4.eot') format('embedded-opentype'), url('http://localhost:8000/static/IRANSansWeb_Bold-2f6f164c3e1f1329cc658b3c725bfd98.woff2') format('woff2'), url('http://localhost:8000/static/IRANSansWeb_Bold-d44408d0941f077f60b1306e1331e806.woff') format('woff'), url('http://localhost:8000/static/IRANSansWeb_Bold-9471804b0f92127716fabbbb2c6647e5.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('http://localhost:8000/static/IRANSansWeb_Medium-c18ca268db923d61b1c9f06415f4c143.eot');
    src: url('http://localhost:8000/static/IRANSansWeb_Medium-c18ca268db923d61b1c9f06415f4c143.eot') format('embedded-opentype'), url('http://localhost:8000/static/IRANSansWeb_Medium-7c1c84da23760b0d3f59f8de58c47605.woff2') format('woff2'), url('http://localhost:8000/static/IRANSansWeb_Medium-7bfa046de6ec101d790ba8a54886dc9a.woff') format('woff'), url('http://localhost:8000/static/IRANSansWeb_Medium-894895856574b0e65e2739d1a2d1de42.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('http://localhost:8000/static/IRANSansWeb_Light-9d7efb918cab94704068d84361d3f898.eot');
    src: url('http://localhost:8000/static/IRANSansWeb_Light-9d7efb918cab94704068d84361d3f898.eot') format('embedded-opentype'), url('http://localhost:8000/static/IRANSansWeb_Light-7c207019aa62aa4778add0c2b3372720.woff2') format('woff2'), url('http://localhost:8000/static/IRANSansWeb_Light-aac7a640c059ee7f46c35c2019434117.woff') format('woff'), url('http://localhost:8000/static/IRANSansWeb_Light-e5b2acaef933a97fa3fb026d8ee73d46.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('http://localhost:8000/static/IRANSansWeb_UltraLight-eb6bb7948783b20ce01dbb2d103db8df.eot');
    src: url('http://localhost:8000/static/IRANSansWeb_UltraLight-eb6bb7948783b20ce01dbb2d103db8df.eot') format('embedded-opentype'), url('http://localhost:8000/static/IRANSansWeb_UltraLight-e0e6c92f90cf30782f81d80a37c22c54.woff2') format('woff2'), url('http://localhost:8000/static/IRANSansWeb_UltraLight-2097362beeb263fdd902ad249202cd79.woff') format('woff'), url('http://localhost:8000/static/IRANSansWeb_UltraLight-f8a4f6910724c0373ffd38add5cea6ac.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('http://localhost:8000/static/IRANSansWeb-70a5f97c18c45e8ef620a374be61c6c3.eot');
    src: url('http://localhost:8000/static/IRANSansWeb-70a5f97c18c45e8ef620a374be61c6c3.eot') format('embedded-opentype'), url('http://localhost:8000/static/IRANSansWeb-9d38733b8a7b9153f2bf9bfe476ef8e3.woff2') format('woff2'), url('http://localhost:8000/static/IRANSansWeb-50f4bba2f37081daeca8c423abdced8b.woff') format('woff'), url('http://localhost:8000/static/IRANSansWeb-244a401eb43afb0fe739f8dcd8530ae4.ttf') format('truetype');
}

hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 1rem;
    margin-top: 1rem;
}

html {
    -ms-overflow-style: scrollbar;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
}

*, ::after, ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #444;
    background: #fff;
    line-height: 1.5;
    margin: 0;
}

/* sc-component-id: layout__Container-crLesU */
.layout__Container-crLesU {
}

.jBFdUD {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.jBFdUD h3 {
    font-size: 1.75rem;
}

.jBFdUD .h1, .jBFdUD .h2, .jBFdUD .h3, .jBFdUD .h4, .jBFdUD .h5, .jBFdUD .h6, .jBFdUD h1, .jBFdUD h2, .jBFdUD h3, .jBFdUD h4, .jBFdUD h5, .jBFdUD h6 {
    font-weight: 500;
}

.jBFdUD dl, .jBFdUD ol, .jBFdUD ul {
    margin-top: 0;
}

.jBFdUD p {
    margin-bottom: 1rem;
    margin-top: 0;
}

.jBFdUD svg * {
    fill: #333;
}

.jBFdUD .FeaturedPostImg {
    width: 100%;
    margin: 15px 0;
}

.jBFdUD .content {
    color: #444;
}

.jBFdUD .content h1, .jBFdUD .content h2, .jBFdUD .content h3, .jBFdUD .content h4, .jBFdUD .content h5, .jBFdUD .content h6 {
    margin-top: 40px;
    margin-bottom: 10px;
}

.jBFdUD .content a {
    color: #0288d1 !important;
}

.jBFdUD .content a:hover {
    color: #005b9f !important;
}

.jBFdUD .content img {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: auto;
}

.jBFdUD code {
    float: left;
    width: 100%;
    text-align: left;
    margin: 20px 0;
    padding: .2rem .4rem;
    font-size: 90%;
    color: #bd4147;
    background-color: #f8f9fa;
    border-radius: .25rem;
}

.jBFdUD code, .jBFdUD kbd, .jBFdUD pre, .jBFdUD samp {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.jBFdUD a {
    color: unset;
    -webkit-text-decoration-skip: objects;
    -webkit-text-decoration: none;
    text-decoration: none;
}

.jBFdUD a:hover {
    color: unset;
    -webkit-text-decoration: none;
    text-decoration: none;
}

@media (max-width: 767px) {
    .jBFdUD {
        width: 99% !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .jBFdUD {
        width: 90% !important;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .jBFdUD {
        width: 80% !important;
    }
}

@media (min-width: 1200px) and (max-width: 1800px) {
    .jBFdUD {
        width: 80% !important;
    }
}

@media (min-width: 1800px) {
    .jBFdUD {
        width: 60% !important;
    }
}

@media (min-width: 991px) {
    .jBFdUD .slider {
        max-width: 300px;
    }
}

@media (max-width: 991px) {
    .jBFdUD .routeContainer, .jBFdUD .slider {
        -webkit-flex-basis: unset !important;
        -ms-flex-preferred-size: unset !important;
        flex-basis: unset !important;
    }
}

/* sc-component-id: layout__PageBody-jaNUKJ */
.layout__PageBody-jaNUKJ {
}

.ekofHO {
    direction: rtl;
    text-align: right;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -15px;
}

/* sc-component-id: layout__Col-cYYrjW */
.layout__Col-cYYrjW {
}

.jSvsRO {
    -ms-flex-positive: 1;
    -ms-flex-preferred-size: 0;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 100%;
}

/* sc-component-id: layout__HotPlace-byxPh */
.layout__HotPlace-byxPh {
}

.ebhFPH {
    max-width: 780px;
    margin: 0 auto;
}

/* sc-component-id: layout__SliderContainer-fPUXfQ */
.layout__SliderContainer-fPUXfQ {
}

.fgJadL {
    max-width: 780px;
    margin: 0 auto;
}

/* sc-component-id: PostIcons__PostDetail-jtuIzW */
.PostIcons__PostDetail-jtuIzW {
}

.flERuF {
    text-align: center;
    font-weight: 300;
    font-size: 15px;
    line-height: 60px;
}

.flERuF img {
    width: 15px;
    color: red;
}

/* sc-component-id: PostPrev__Container-fpOmgh */
.PostPrev__Container-fpOmgh {
}

.kEzWnO {
    margin: 70px 0px 20px 0px;
}

/* sc-component-id: PostPrev__TitleLink-glTUmX */
.PostPrev__TitleLink-glTUmX {
}

.cndJUA {
    font-size: 28px;
    display: table;
    margin: 0 auto;
}

.cndJUA:hover {
    background-color: #f7f7f7;
}

/* sc-component-id: PostPrev__Title-bzGskf */
.PostPrev__Title-bzGskf {
}

.hfptqa {
    text-align: center;
    font-size: 28px;
    line-height: 1.6;
    margin: 0;
}

/* sc-component-id: PostPrev__ContinueBtn-hHfKCB */
.PostPrev__ContinueBtn-hHfKCB {
}

.dXQjDm {
    display: block;
    max-width: 18.75em;
    text-align: center;
    margin: 2.5em auto 0 auto;
    padding: 0.5em 0 0.4em 0;
    color: #444;
    font-weight: 400;
    font-size: .85em;
    border-bottom: 1px dotted #ccc;
    -webkit-letter-spacing: 2px;
    -moz-letter-spacing: 2px;
    -ms-letter-spacing: 2px;
    letter-spacing: 2px;
}

.dXQjDm:hover {
    color: #000;
    background-color: #f7f7f7;
}

/* sc-component-id: category__Name-keupnK */

/* sc-component-id: category__Description-iWIckd */

/* sc-component-id: Tags__Tag-hJbKlk */

/* sc-component-id: post__Container-LPIJw */

/* sc-component-id: post__Title-dduLLz */
